<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

<?if $(env.DDK_ARCH) = x64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
    <?define SYSDIR = System64Folder ?>
<?else?>
    <?define PFILESDIR = ProgramFilesFolder ?>
    <?define SYSDIR = SystemFolder ?>
<?endif ?>

<Module
Id='MoveProfiles'
Language='1033'
Codepage='1252'
Version='$(env.VERSION)'
>

<Package
Id='{8BA696C6-3769-441A-A54D-B40CF7CC271F}'
Description='Qubes Agent for Windows'
Manufacturer='Invisible Things Lab'
InstallScope='perMachine'
InstallerVersion='200'
Languages='1033'
SummaryCodepage='1252'
InstallPrivileges='elevated'
/>

<Configuration
Name='ProductFolder'
Format='Key'
Type='Identifier'
DefaultValue='QubesProgramFilesDir'
Description='Installation directory'
DisplayName='Installation directory'
/>

<Substitution Table='Directory' Column='Directory_Parent' Row='BinDir' Value='[=ProductFolder]'/>

<Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
            <Directory Id='QubesProgramFilesDir' Name='Qubes Tools'>
                <Directory Id='BinDir' Name='bin'>
                    <Component Id='PrepareVolume' Guid='{220A22F3-0B73-4A4C-B825-53132A88D1DF}'>
                        <File Id='prepare_volume.exe' Source='bin\$(env.DDK_ARCH)\prepare-volume.exe' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Directory>
    <Directory Id='$(var.SYSDIR)'>
        <Component Id='RelocateDir' Guid='{C4325378-B946-4C6C-A685-F3E39A10AF20}'>
            <File Id='relocate_dir.exe' Source='bin\$(env.DDK_ARCH)\relocate-dir.exe' KeyPath='yes' />
        </Component>
    </Directory>
</Directory>

<CustomAction
Id='RunPrepareVolume'
Return='ignore'
Impersonate='no'
Execute='deferred'
FileKey='prepare_volume.exe'
ExeCommand='51728'
/>

<InstallExecuteSequence>
    <Custom Action='RunPrepareVolume' After='InstallFiles'>NOT Installed AND NOT REMOVE</Custom>
</InstallExecuteSequence>

</Module>
</Wix>
