<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension' xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'>
  <?if $(env._BUILDARCH) = x86 ?>
    <?define ARCHDIR = i386 ?>
    <?define PFILESDIR = ProgramFilesFolder ?>
  <?elseif $(env._BUILDARCH) = AMD64 ?>
    <?define ARCHDIR = amd64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
  <?endif ?>

  <Product Name='Qubes Agent for Windows' Id='*'
    UpgradeCode='0853bd66-91d5-449c-8450-64af366e42a5'
    Language='1033' Codepage='1252' Version='$(env.VERSION)' Manufacturer='Invisible Things Lab'>

    <Package Id='*' Keywords='Installer' Description="Qubes Agent for Windows"
      Comments='no comment' Manufacturer='Invisible Things Lab' InstallScope='perMachine'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252'
      InstallPrivileges="elevated" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <UI>
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Media Id='1' Cabinet='qubescore.cab' EmbedCab='yes' />

    <MajorUpgrade AllowDowngrades="yes"/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
          <Directory Id='QubesProgramFilesDir' Name='Qubes'>
            <Directory Id='BinDir' Name='bin'>
              <Component Id='QrexecAgent' Guid='0e26617f-e5d9-4943-a08e-cf29013e9d72'>
                <File Id='qrexec_agent.exe' Name='qrexec_agent.exe' DiskId='1' Source='qrexec\bin\$(var.ARCHDIR)\qrexec_agent.exe' KeyPath="yes"/>
                <File Id='qrexec_client_vm.exe' Name='qrexec_client_vm.exe' DiskId='1' Source='qrexec_client_vm\bin\$(var.ARCHDIR)\qrexec_client_vm.exe' KeyPath="no"/>
                <File Id='ask_vm_and_run.exe' Name='ask_vm_and_run.exe' DiskId='1' Source='ask_vm_and_run\bin\$(var.ARCHDIR)\ask_vm_and_run.exe' KeyPath="no"/>
                <ServiceInstall
                Id="ServiceInstaller"
                Type="ownProcess"
                Vital="yes"
                Name="QrexecAgent"
                DisplayName="Qubes RPC Agent"
                Description="Qubes remote execute agent"
                Start="auto"
                Account="LocalSystem"
                ErrorControl="ignore"
                Interactive="no"
                />
                <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="QrexecAgent" Wait="yes" />
              </Component>
            </Directory>
            <Directory Id='QubesRPCDir' Name='qubes_rpc'>
            </Directory>
            <Directory Id='QubesRPCServicesDir' Name='qubes_rpc_services'>
              <Component Id='QrexecServices' Guid='2543621b-2d67-4726-9a3b-7a1c471a1e19'>
                <File Id='qfile_agent.exe' Name='qfile_agent.exe' DiskId='1' Source='qrexec_services\filecopy_agent\bin\$(var.ARCHDIR)\qfile_agent.exe' KeyPath="yes"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='QrexecAgent' Title='QrexecAgent' Level='1' AllowAdvertise='no' InstallDefault='local' Absent='disallow'>
      <ComponentRef Id='QrexecAgent' />
      <ComponentRef Id='QrexecServices' />
    </Feature>

  </Product>
</Wix>
